body {
    background: linear-gradient(135deg, #ffbbc6 0%, #ff5874 100%);
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    overflow: hidden;
}

h1 {
    color: #ffffff;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

button,
#nextButton {
    background-color: white;
    color: #ff657f;
    border: none;
    padding: 15px 30px;
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.2s;
    margin-top: 0;
}

button:active {
    transform: scale(0.95);
    background-color: #ffe0e0;
}

#textDisplay {
    height: auto; 
    min-height: 80px; 
    margin-top: -10px; 
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-line;
}

#finalButtons {
    display: none;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    min-height: 80px;
}

#yesButton {
    order: 1;
}

#noButton {
    order: 2;
    transition: left 0.3s ease, top 0.3s ease;
    z-index: 999;
    white-space: nowrap;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.2rem;
    }

    #textDisplay {
        height: 250px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0;
}

#imageDisplay {
    width: 350px;
    height: 350px;
    object-fit: contain; 
    margin-bottom: 0;
    /* display: block; */
}
@media (max-width: 600px) {
    #imageDisplay {
        width: 250px;
        height: 250px;
    }
}